.formix {
  font-size: 310px;
  font-weight: 700;
  letter-spacing: -0.07em;
  line-height: 0.8em;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.cc {
  padding-left: auto;
  color: #707070;
  font-weight: 550;
}
